body {
    background-image: url(rainbow.jpg);
  }
  
  .container {
    margin-top: 5em;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 10px 15px #888888;
    height: 70vh;
    min-height: 500px;
    padding: 20px;
  }
  
  .card-content {
    max-height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
  }
  
  .card-content .output-content {
    overflow-y: auto;
    flex-grow: 1;
  }
  
  #python-form .input-field {
    margin-bottom: 20px;
  }
  
  .right #output {
    padding: 10px;
    font-size: large;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #cfd8dc;
  }
  
  .scrollable-textarea { /* handle overflow text */
    height: 550px;
    max-height: 550px;
    overflow-y: auto !important;
    color: #cfd8dc;
  }

.input-field #textInput{
    max-height: 17em;
} /* contain text input within the container*/

#apiKeyInput{
    color: white;
}

#output{
    padding: 1em;
}
#wordCount{
    margin-top: -30px;
    margin-bottom: 30px;
}
