html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url(beach.jpg);
    
}

.header {
    background-color: rgb(17, 17, 117);
    color: beige;
    overflow: hidden; /*Use to prevent overflow inside a 
                        div; in this case I just need it to keep 
                        the top bar in place*/
    text-align: center;
}

.main {
    height: 35em;
    width: 80em;
    background-color: rgb(255, 254, 227);
    margin: auto;
    margin-top: 5em;
    border: solid orange 10px;
    border-radius: 70px;
    box-shadow: 10px 15px #888888;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main .left{
    height: 32em;
    width: 25em;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main .right{
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    height: 30em;
    width: 50em;
    /*background-color: purple;*/
}
.main .left #python-form {
    padding: 1em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
    color: #888888;
}
.main .left #python-form #question{
    margin-top: 0px;
    margin-bottom: 140px;
}
.main .left .upload {
    padding: 4em;
}
.main .left .upload img{
    padding-top: 21px;
    margin-left: 3em;
    width: 70%;
    margin-top: -90px;
}

/*Survey/questionaire/button manipulation*/
.main .left #python-form .survey{
    display: flex;
    justify-content: space-around;
    gap: 1em;
}
.main .left #python-form .survey #question{
    background-color: lightcoral;
    padding: 2em;
}


.main .right{
    background-color: lightgreen;
    border: solid black 10px;
    border-style: groove;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    overflow-y: auto; 
}

.right #output {
    padding: 10px;
    overflow-y: auto;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

