body {
    background-color: #cfd8dc;
}

.container {
    margin-top: 5em;
}

.card {
    border-radius: 10px;
    box-shadow: 10px 15px #888888;
    overflow-y: auto !important; /* Enable vertical scrolling */
    height: 775px; /* Set a maximum height */
    overflow-y: auto !important; /* Enable vertical scrolling */
}

#python-form .input-field {
    margin-bottom: 20px;
    overflow-y: auto !important; /* Enable vertical scrolling */
}

.right #output {
    padding: 10px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: auto !important; /* Enable vertical scrolling */
}