html, body{
    background-image: url(./images/background1.jpg);
}

.main {
    height: 35em;
    width: 80em;
    background-color: rgb(255, 254, 227);
    margin: auto;
    margin-top: 5em;
    border: solid orange 10px;
    border-radius: 70px;
    box-shadow: 10px 15px #888888;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main .left{
    height: 32em;
    width: 25em;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main .right{
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    height: 30em;
    width: 50em;
    /*background-color: purple;*/
}

.main .left #input {
    padding: 4em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
    color: #888888;
}
.main .left .upload {
    padding: 4em;
}
.main .left .upload img{
    padding-top: 21px;
    margin-left: 3em;
    width: 70%;
}

.main .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .right #output{
    /*background-color: yellow;*/
    padding: 15em;
    padding-left: 20em;
    padding-right: 20em;
    border: solid black 10px;
    border-style: groove;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
}

